@import url("./bubbleui-v3.0.0.css");
@import url("./components/_import.css");
@import url("./views/_import.css");

:root {
    --background: #edecea;

    --surface-1: #dcd8d0;
    --on-surface-1: #d9d2c3;

    --surface-2: #ccc2ae;
    --on-surface-2: var(--accent-color);

    --accent-color: #9a8e75;
    --on-accent-color: #e8e0d3;

    --text-color: #9a8e75;
}

:root[data-theme="dark"] {
    --background: #191919;

    --surface-1: #121212;
    --on-surface-1: #2d2d2d;

    --surface-2: #252525;
    --on-surface-2: #ccc;

    --accent-color: #44679d;
    --on-accent-color: #eee;

    --text-color: #f0f0f0;
}

body,
view {
    transition: all 0.35s color none;
    background: var(--background);
}
